<!DOCTYPE html>
<html>
<meta charset="utf-8">
<meta content="IE=edge" http-equiv="X-UA-Compatible">
<meta content="width=device-width, user-scalable=no , initial-scale=1" name="viewport">
<head>

  <title>UPenn Lions - Home </title>

  <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/app.css">
</head>




<body ng-app="homepage-app" ng-controller="root-controller" ng-class="{'modal-open': hasModal()}">
  <div class="background-container">
    <img src="/images/lions-background.png">
  </div>


  <!-- Nav Bar -->
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header"> 
        <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#bs-navbar" aria-controls="bs-navbar" aria-expanded="false"> 
          <span class="sr-only">Toggle navigation</span> 
          <span class="icon-bar upl-nav"></span> 
          <span class="icon-bar upl-nav"></span>
          <span class="icon-bar upl-nav"></span> 
        </button> 
        <a href="/" class="navbar-brand upl-brand">UPenn Lions</a>
      </div>
      <nav id="bs-navbar" class="collapse navbar-collapse" id="bs-navbar">
        <ul class="nav navbar-nav navbar-right">
          <li class="mobile-only"><a href="#"  class="upl-option">Update Collection Status</a></li>
          <li class="mobile-only"><a href="#"  class="upl-option">Approve Expenses</a></li>
          <li class="mobile-only"><a href="#"  class="upl-option">Submit Dues Form</a></li>
          <li class="mobile-only"><a href="#"  class="upl-option">Submit Expenses</a></li>
          <li class="mobile-only"><a href="#"  class="upl-option">Change Password</a></li>
          <li><a href="/auth/logout" class="upl-option">Log Out</a></li>
        </ul>
      </nav>
    </div>
  </nav>

  <!-- Main Screen -->
  <div class="container">
    <div class="main-container">

      <!-- Mobile Welcome-->
      <div class="panel panel-default mobile-only"  >
        <div class="panel-heading">
          <div class="container-fluid text-color">
            <div class="col-xs-11"><h3 class="panel-title">Welcome {{name()}}!</h3></div>
            <div class="col-xs-1 nopad"><upl-switch open="open"></upl-switch></div>
          </div>
        </div>
        <div class="panel-body"  >
          <div class="container-fluid">
            <!-- Financial Standing -->
            <div class="row center-text"><span class="options-header">Current Financial Standing:</span></div>
            <div class="row" style="margin: 15px 0px; text-align:center" >
              <div style="display: inline-block">
                <span class="glyphicon"  aria-hidden="true"></span>
                <span class="dues-status">{{message()}}</span>
              </div>
            </div>
          </div>
        </div>
      </div> 

      <!-- Welcome Boxes -->
      <div class="container-fluid">
        <div class="row">

          <div class="col-xs-4">
            <div class="panel panel-default welcome-box">

              <div class="panel-heading">
                <div class="container-fluid text-color nopad">
                  <div class="col-xs-1 nopad welcome-box-alert blink-me" ng-if="profileData.balanceAlert">
                    <span class="glyphicon glyphicon-alert" aria-hidden="true">
                  </div>
                  <div class="col-xs-10 nopad">
                    <h3 class="panel-title">Current Status</h3>
                  </div>
                </div>
              </div>

              <div class="panel-body">
                <div class="container-fluid">
                  <div class="row text-center">
                    <p class="nomargin">Your current balance is:</p>
                  </div>

                  <div class="row" style="text-align: center">
                    <h2 class="text-color current-balance">${{getBalance()}}</h2>
                  </div>

                  <div class="row">
                    <p>{{profileData.message}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xs-4">
            <div class="panel panel-default welcome-box">

              <div class="panel-heading">
                <div class="container-fluid text-color nopad">
                  <div class="col-xs-12 nopad">
                    <h3 class="panel-title">Upcoming Payments</h3>
                  </div>
                </div>
              </div>

              <div class="panel-body payment-panel-body">
                <div class="container-fluid">
                  <div ng-if="showNextCharge()">
                    <div class="row text-center">
                      <p class="nomargin">Your next payment is scheduled for:</p>
                    </div>
                    <div class="row text-center">
                      <h3 class="text-color next-payment-date">July 15th, 2017</h3>
                    </div>

                    <div class="row text-center">
                      <h4 class="text-color next-payment-amount">$150</h4>
                    </div>
                  </div>

                  <div ng-if="!showNextCharge()">
                    <div class="row text-center">
                      <div class="text-color no-payment-padding">You have no upcoming payments due.</div>
                    </div>
                  </div>
                  
                  <div class="row text-center">
                    <button type="button" class="upl-button">View All Payments</button>
                  </div>
                </div>
              </div>

            </div>
          </div>

          <div class="col-xs-4"> 
            <div class="panel panel-default welcome-box">
              
              <div class="panel-heading">
                <div class="container-fluid text-color nopad">
                  <div class="col-xs-12 nopad">
                    <h3 class="panel-title">Payment History</h3>
                  </div>
                </div>
              </div>

              <div class="panel-body payment-panel-body">
                <div class="container-fluid">

                  <div ng-if="showNextPayment()">
                    <div class="row text-center">
                      <p class="nomargin">Your last processed payment was:</p>
                    </div>
                    <div class="row text-center">
                      <h3 class="text-color next-payment-date">July 15th, 2017</h3>
                    </div>

                    <div class="row text-center">
                      <h4 class="text-color next-payment-amount">$150</h4>
                    </div>
                  </div>
                  
                  <div ng-if="!showNextPayment()">
                    <div class="row text-center">
                      <div class="text-color no-payment-padding">You have not made any payments yet.</div>
                    </div>
                  </div>

                  <div class="row text-center">
                    <button type="button" class="upl-button">View All Payments</button>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>

      

      

      

    </div>
    <!-- Include Nav -->
    <% include nav_panel %>
  </div>

  


  <!-- Include Modals -->
  <%
    var modals = ["changePassword", "duesForm", "email", "links", "reportIssue", "submitExpense"];
    for (var i =0; i < modals.length; i++) {
      var path = 'modals/' + modals[i] + '_modal.ejs'; %>
      <%- include(path); %>
    <% } %>

  <script src="https://code.jquery.com/jquery-1.9.1.min.js" integrity="sha256-wS9gmOZBqsqWxgIVgA8Y9WcQOa7PgSIX+rPA0VL2rbQ=" crossorigin="anonymous"></script>
  <script src="/bootstrap/js/bootstrap.min.js"></script>
  <script src="/angular/angular.min.js"></script>
  <script src="/angular/angular-resource.min.js"></script>
  <script src="/services.js"></script>
  <script src="/homepage/controller.js"></script>
</body>

</html>