<!DOCTYPE html>
<html>
<meta charset="utf-8">
<meta content="IE=edge" http-equiv="X-UA-Compatible">
<meta content="width=device-width, user-scalable=no , initial-scale=1" name="viewport">
<head>

  <title>UPenn Lions - Home </title>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/app.css">
  <link rel="icon" href="/images/lions-logo.png">
  <link rel="apple-touch-icon" href="/images/lions-logo.png">
  <!-- Fonts -->
</head>




<body ng-app="homepage-app" ng-controller="root-controller" ng-class="{'modal-open': hasModal()}">
  <div class="background-container">
    <img src="/images/lions-background.png">
  </div>


  <!-- Nav Bar -->
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header"> 
        <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#bs-navbar" aria-controls="bs-navbar" aria-expanded="false"> 
          <span class="sr-only">Toggle navigation</span> 
          <span class="icon-bar upl-nav"></span> 
          <span class="icon-bar upl-nav"></span>
          <span class="icon-bar upl-nav"></span> 
        </button> 
        <a href="/" class="navbar-brand upl-brand">UPenn Lions</a>
      </div>
      <ul class="nav navbar-nav no-mobile">
        <% if (typeof position != 'undefined') {%>
          <li><a href="/epanel">E-Panel</span></a></li>
        <% } %>
        <% if (typeof position != 'undefined' && position == 'Treasurer') {%>
          <li><a href="/tpanel">T-Panel</span></a></li>
        <% } %>
      </ul>
      <nav id="bs-navbar" class="collapse navbar-collapse" id="bs-navbar">
        <ul class="nav navbar-nav navbar-right">
          <!-- EPanel -->
          <% if (typeof position != 'undefined') {%>
            <li class="mobile-only"><a class="upl-option" href="/epanel">E-Panel</span></a></li>
          <% } %>
          <!-- T-Panel -->
          <% if (typeof position != 'undefined' && position == 'Treasurer') {%>
            <li class="mobile-only"><a class="upl-option" href="/tpanel">T-Panel</span></a></li>
          <% } %>

          <legend class="mobile-only" style="margin:0"></legend>

          <!-- Submit Expense -->
          <li class="mobile-only">
            <a href="#"  class="upl-option" ng-click="openModal('expense')">Submit Expense</a>
          </li>
          <!-- Submit Dues Form -->
          <li class="mobile-only">
            <a href="#"  class="upl-option" ng-click="openModal('dues')">Submit Dues Form</a>
          </li>

          <legend class="mobile-only" style="margin:0"></legend>
          <!-- Logout -->
          <li><a href="/auth/logout" class="upl-option">Log Out</a></li>
        </ul>
      </nav>
    </div>
  </nav>

  <!-- Main Screen -->
  <div class="container">
    <!-- Loading Screen -->
    <div class="main-container" ng-if="!loaded">
      <div class="container-fluid">
        <div class="loader"></div>
      </div>
    </div>

    <div class="main-container" ng-if="loaded" ng-cloak>

      <div class="container-fluid" style="margin-bottom: 20px" ng-controller="keg-controller">
        <div class="row">
          <div class="col-xs-12 text-center">
            <div class="keg-wrapper" ng-click="handleClick()" ng-class="color()">
              <!-- <div ng-class="icon()"></div> -->
              <div>{{message}}</div>
            </div>
          </div>
        </div>
      </div>

      <!-- Welcome Boxes -->
      <div class="container-fluid">
        <div class="row">

          <div class="col-xs-12 col-sm-6">
            <div class="panel panel-default" ng-controller="welcome-dashboard-controller">

              <div class="panel-heading">
                <div class="container-fluid text-color nopad">
                  <div class="col-xs-12 nopad">
                    <h3 class="panel-title">Current Status</h3>
                  </div>
                </div>
              </div>

              <div id="welcome-panel-body" class="panel-body welcome-box-body flexbox-container">

                <span class="glyphicon glyphicon-alert welcome-msg-logo-alert" ng-style="{'font-size' : messageHeight()}" ng-if="welcome.icon == 'alert'" ng-cloak></span>
                <span class="glyphicon glyphicon-ok-circle welcome-msg-logo-ok" ng-style="{'font-size' : messageHeight()}" ng-if="welcome.icon == 'ok'"></span>
                <span class="glyphicon glyphicon-warning-sign welcome-msg-logo-warn" ng-style="{'font-size' : messageHeight()}" ng-if="welcome.icon == 'warn'"></span>
                
                <div class="container-fluid">
                  <div class="msg-container">
                    <div class="row text-center">
                      <p class="text-color no-payment-padding">{{welcome.message}}</p>
                    </div>
                  </div>
                  <div class="bottom-btn-container">
                    <button type="button" class="upl-button layover-btn" ng-click="openModal('payment-info')" ng-if="showButton">View Payments</button>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-sm-6" ng-controller="expense-dashboard-controller">
            <div class="panel panel-default">

              <div class="panel-heading">
                <div class="container-fluid text-color nopad">
                  <div class="col-xs-12 nopad">
                    <h3 class="panel-title">Expense Dashboard</h3>
                  </div>
                </div>
              </div>

              <div class="panel-body payment-panel-body welcome-box-body flexbox-container">
                
                <!-- Loader -->
                <div class="container-fluid dashboard-container" ng-if="loading">
                  <div class="dfp-loader"></div>
                </div>

                <!-- Content -->
                <div class="container-fluid" ng-if="!loading">

                  <!-- If pending expenses -->
                  <div class="msg-container">
                    <div class="row text-center">
                      <p class="text-color no-payment-padding">{{getExpenseMessage()}}</p>
                    </div>
                  </div>
                  <div class="bottom-btn-container">
                    <button type="button" class="upl-button layover-btn" ng-click="openModal('expense-info')" ng-if="show().openButton">View Expenses</button>
                  </div>
                  
                </div>
                
              </div>

            </div>
          </div>
        </div>
      </div>

      
      <!-- Doomsday Box -->
<!--       <div class="container-fluid" ng-controller="doomsday-controller">
        <div class="panel panel-default"  >
          <div class="panel-heading">
            <div class="container-fluid text-color mobile-nopad">
              <div class="col-xs-11 mobile-nopad"><h3 class="panel-title">Days Since The Shutdown</h3></div>
            </div>
          </div>
          <div class="panel-body">
            <div class="container-fluid" style="padding-bottom: 10px; padding-top: 10px">
              <div class="row text-center">
                <span class="dd-digit">{{getDayNum()}}</span>
                <span class="dd-desc">{{getDayText()}}</span>
                <span class="dd-digit">{{getHourNum()}}</span>
                <span class="dd-desc">{{getHourText()}}</span>
                <span class="dd-digit">{{getMinNum()}}</span>
                <span class="dd-desc">{{getMinText()}}</span>
                <span class="dd-digit">{{getSecNum()}}</span>
                <span class="dd-desc">{{getSecText()}}</span>
              </div>
            </div>
          </div>
        </div>
      </div> -->

      
      <% include homepage_dues_form_progress %>

    </div>
    <!-- Include Nav -->
    <% include homepage_navpanel %>
  </div>

  


  <!-- Include Modals -->
  <%
    var modals = ["changePassword", "duesForm", "links", "reportIssue", "submitExpense", "accountSetup", "paymentInfo", "viewExpenses", "phoneNumber"];
    for (var i =0; i < modals.length; i++) {
      var path = 'modals/' + modals[i] + '_modal.ejs'; %>
      <%- include(path); %>
    <% } %>

  <script src="https://code.jquery.com/jquery-1.9.1.min.js" integrity="sha256-wS9gmOZBqsqWxgIVgA8Y9WcQOa7PgSIX+rPA0VL2rbQ=" crossorigin="anonymous"></script>
  <script src="/bootstrap/js/bootstrap.min.js"></script>
  <script src="/angular/angular.js"></script>
  <script src="/angular/angular-animate.js"></script>
  <script src="/angular/angular-sanitize.js"></script>
  <script src="/angular/angular-resource.min.js"></script>
  <script src="/bootstrap/js/ui-bootstrap-tpls-2.5.0.min.js"></script>
  <script src="/services.js"></script>
  <script src="/homepage/controller.js"></script>
</body>

<!-- IOS Dropdowns -->
<script type="text/javascript">
  $('body').on('touchstart.dropdown', '.dropdown-menu', function (e) { 
    e.stopPropagation(); 
  });
</script>
</html>