<div class="nav-container" ng-controller="navController" ng-init="init()">
  <div class="box shadow" style="margin-top: 40px">
    <div class="box-content container-fluid">
      <div class="row">
        <div class="col-xs-12 nopad"><h4 style="text-align:center">Welcome Torin!</h4></div>
      </div>

     <div class="row homepage-logo-container">
       <img class="homepage-logo" src="/images/lions-logo.jpg">
     </div>

      <div class="row major-section-break"></div>
      <div class="row">
        <div class="container-fluid">
          <!-- Available Actions -->
          <div class="row"><span class="options-header">Available Actions:</span></div>
          <!-- Options -->
          <div class="row hoverable smooth-corners option-row" ng-click="openModal('update')">
            <div class="col-xs-1 nopad indent"><span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span></div>
            <div class="col-xs-10 nopad">Update Collection Status</div>
          </div>

          <div class="row hoverable smooth-corners option-row" ng-click="openModal('approve')">
            <div class="col-xs-1 nopad indent"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span></div>
            <div class="col-xs-10 nopad">Approve Expenses</div>
          </div>

          <div class="row hoverable smooth-corners option-row" ng-click="openModal('dues')">
            <div class="col-xs-1 nopad indent"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></div>
            <div class="col-xs-10 nopad">Submit Dues Form</div>
          </div>
          <div class="row hoverable smooth-corners option-row" ng-click="openModal('expense')">
            <div class="col-xs-1 nopad indent"><span class="glyphicon glyphicon-usd" aria-hidden="true"></span></div>
            <div class="col-xs-10 nopad">Submit Expense</div>
          </div>
        </div>
      </div>

      <div class="row section-break"></div>
      <div class="row">
        <div class="container-fluid">
          <!-- Account Options -->
          <div class="row"><span class="options-header">Account Options:</span></div>
          <!-- Options -->
          <div class="row hoverable smooth-corners option-row" ng-click="openModal('password')">
            <div class="col-xs-1 nopad indent"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></div>
            <div class="col-xs-10 nopad">Change Password</div>
          </div>
          <div class="row hoverable smooth-corners option-row" ng-click="openModal('links')">
            <div class="col-xs-1 nopad indent"><span class="glyphicon glyphicon-link" aria-hidden="true"></span></div>
            <div class="col-xs-10 nopad">Additional Links</div>
          </div>
          <div class="row hoverable smooth-corners option-row" ng-click="openModal('report')">
            <div class="col-xs-1 nopad indent"><span class="glyphicon glyphicon-flag" aria-hidden="true"></span></div>
            <div class="col-xs-10 nopad">Report Issue</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
