
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en" style="background: #f3f3f3 !important">
  <head>
    
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Payment Confirmation</title>
    <style>@media only screen {
  html {
    min-height: 100%;
    background: #fefefe;
  }
}

@media only screen and (max-width: 636px) {
  table.body img {
    width: auto;
    height: auto;
  }

  table.body center {
    min-width: 0 !important;
  }

  table.body .container {
    width: 95% !important;
  }

  table.body .columns {
    height: auto !important;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 16px !important;
    padding-right: 16px !important;
  }

  table.body .collapse .columns {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  th.small-4 {
    display: inline-block !important;
    width: 33.33333% !important;
  }

  th.small-6 {
    display: inline-block !important;
    width: 50% !important;
  }

  th.small-8 {
    display: inline-block !important;
    width: 66.66667% !important;
  }
}</style>
  </head>
  <body style="-moz-box-sizing: border-box; -ms-text-size-adjust: 100%; -webkit-box-sizing: border-box; -webkit-text-size-adjust: 100%; Margin: 0; background: #f3f3f3 !important; box-sizing: border-box; color: #0a0a0a; font-family: 'Lato', Tahoma, Verdana, 'Segoe', sans-serif; font-size: 16px; font-weight: normal; line-height: 1.3; margin: 0; min-width: 100%; padding: 0; text-align: left; width: 100% !important">
    <span class="preheader" style="color: #fefefe; display: none !important; font-size: 1px; line-height: 1px; max-height: 0px; max-width: 0px; mso-hide: all !important; opacity: 0; overflow: hidden; visibility: hidden"></span>
    <table class="body white-background" style="Margin: 0; background: white !important; background-color: white !important; border-collapse: collapse; border-spacing: 0; color: #0a0a0a; font-family: 'Lato', Tahoma, Verdana, 'Segoe', sans-serif; font-size: 16px; font-weight: normal; height: 100%; line-height: 1.3; margin: 0; padding: 0; text-align: left; vertical-align: top; width: 100%">
      <tr style="padding: 0; text-align: left; vertical-align: top">
        <td class="center" align="center" valign="top" style="-moz-hyphens: auto; -webkit-hyphens: auto; Margin: 0; border-collapse: collapse !important; color: #0a0a0a; font-family: 'Lato', Tahoma, Verdana, 'Segoe', sans-serif; font-size: 16px; font-weight: normal; hyphens: auto; line-height: 1.3; margin: 0; padding: 0; text-align: left; vertical-align: top; word-wrap: break-word">
          <center data-parsed="" style="min-width: 620; width: 100%">
            
            <table align="center" class="container white-background float-center" style="Margin: 0 auto; background: white !important; background-color: white !important; border-collapse: collapse; border-spacing: 0; float: none; margin: 0 auto; padding: 0; text-align: center; vertical-align: top; width: 620"><tbody><tr style="padding: 0; text-align: left; vertical-align: top"><td style="-moz-hyphens: auto; -webkit-hyphens: auto; Margin: 0; border-collapse: collapse !important; color: #0a0a0a; font-family: 'Lato', Tahoma, Verdana, 'Segoe', sans-serif; font-size: 16px; font-weight: normal; hyphens: auto; line-height: 1.3; margin: 0; padding: 0; text-align: left; vertical-align: top; word-wrap: break-word">
            
              <table class="spacer" style="border-collapse: collapse; border-spacing: 0; padding: 0; text-align: left; vertical-align: top; width: 100%"><tbody><tr style="padding: 0; text-align: left; vertical-align: top"><td height="20px" style="-moz-hyphens: auto; -webkit-hyphens: auto; Margin: 0; border-collapse: collapse !important; color: #0a0a0a; font-family: 'Lato', Tahoma, Verdana, 'Segoe', sans-serif; font-size: 20px; font-weight: normal; hyphens: auto; line-height: 20px; margin: 0; mso-line-height-rule: exactly; padding: 0; text-align: left; vertical-align: top; word-wrap: break-word">&#xA0;</td></tr></tbody></table> 
              <table class="row collapse" style="border-collapse: collapse; border-spacing: 0; display: table; padding: 0; position: relative; text-align: left; vertical-align: top; width: 100%"><tbody><tr style="padding: 0; text-align: left; vertical-align: top">
                <th class="small-6 large-4 columns first" style="Margin: 0 auto; color: #0a0a0a; font-family: 'Lato', Tahoma, Verdana, 'Segoe', sans-serif; font-size: 16px; font-weight: normal; line-height: 1.3; margin: 0 auto; padding: 0; padding-bottom: 5px; padding-left: 0; padding-right: 0; text-align: left; width: 214.66667px"><table style="border-collapse: collapse; border-spacing: 0; padding: 0; text-align: left; vertical-align: top; width: 100%"><tr style="padding: 0; text-align: left; vertical-align: top"><th style="Margin: 0; color: #0a0a0a; font-family: 'Lato', Tahoma, Verdana, 'Segoe', sans-serif; font-size: 16px; font-weight: normal; line-height: 1.3; margin: 0; padding: 0; text-align: left">
                  <img src="https:upennlions.com/images/email-logo.png" alt="" style="-ms-interpolation-mode: bicubic; clear: both; display: block; margin-left: 15px; max-width: 100%; outline: none; text-decoration: none; width: auto">
                </th></tr></table></th>
                <th class="small-6 large-8 columns last" style="Margin: 0 auto; color: #0a0a0a; font-family: 'Lato', Tahoma, Verdana, 'Segoe', sans-serif; font-size: 16px; font-weight: normal; line-height: 1.3; margin: 0 auto; padding: 0; padding-bottom: 5px; padding-left: 0; padding-right: 0; text-align: left; width: 421.33333px"><table style="border-collapse: collapse; border-spacing: 0; padding: 0; text-align: left; vertical-align: top; width: 100%"><tr style="padding: 0; text-align: left; vertical-align: top"><th style="Margin: 0; color: #0a0a0a; font-family: 'Lato', Tahoma, Verdana, 'Segoe', sans-serif; font-size: 16px; font-weight: normal; line-height: 1.3; margin: 0; padding: 0; text-align: left"></th></tr></table></th>
              </tr></tbody></table>
              <hr>
            
              <center data-parsed="" style="min-width: 620; width: 100%">
                <img src="https:upennlions.com/images/okok.gif" alt="" align="center" class="float-center" style="-ms-interpolation-mode: bicubic; Margin: 0 auto; clear: both; display: block; float: none; margin: 0 auto; max-width: 100%; outline: none; text-align: center; text-decoration: none; width: auto">
              </center>
            
              <table class="row" style="border-collapse: collapse; border-spacing: 0; display: table; padding: 0; position: relative; text-align: left; vertical-align: top; width: 100%"><tbody><tr style="padding: 0; text-align: left; vertical-align: top">
                <h4 class="text-center headline-text" style="Margin: 0; Margin-bottom: 10px; color: inherit; font-family: 'Lato', Tahoma, Verdana, 'Segoe', sans-serif; font-size: 18px; font-weight: bold; line-height: 1.3; margin: 0; margin-bottom: 10px; padding: 0; text-align: center; word-wrap: normal">Thank you for submitting your dues form!</h4>
              </tr></tbody></table>
            
              <table class="row" style="border-collapse: collapse; border-spacing: 0; display: table; padding: 0; position: relative; text-align: left; vertical-align: top; width: 100%"><tbody><tr style="padding: 0; text-align: left; vertical-align: top">
                <p class="text-center headline-subtext" style="Margin: 0; Margin-bottom: 10px; color: #71777D; font-family: 'Lato', Tahoma, Verdana, 'Segoe', sans-serif; font-size: 14px; font-weight: normal; line-height: 1.3; margin: 5px 0px; margin-bottom: 10px; padding: 0; text-align: center">This email is to confirm your dues plan for the semester.</p>
              </tr></tbody></table>
            
              <table class="spacer" style="border-collapse: collapse; border-spacing: 0; padding: 0; text-align: left; vertical-align: top; width: 100%"><tbody><tr style="padding: 0; text-align: left; vertical-align: top"><td height="25px" style="-moz-hyphens: auto; -webkit-hyphens: auto; Margin: 0; border-collapse: collapse !important; color: #0a0a0a; font-family: 'Lato', Tahoma, Verdana, 'Segoe', sans-serif; font-size: 25px; font-weight: normal; hyphens: auto; line-height: 25px; margin: 0; mso-line-height-rule: exactly; padding: 0; text-align: left; vertical-align: top; word-wrap: break-word">&#xA0;</td></tr></tbody></table> 
            
              <table class="wrapper table-header" align="center" style="background: #000; border-collapse: collapse; border-spacing: 0; padding: 0; text-align: left; vertical-align: top; width: 100%"><tr style="padding: 0; text-align: left; vertical-align: top"><td class="wrapper-inner" style="-moz-hyphens: auto; -webkit-hyphens: auto; Margin: 0; border-collapse: collapse !important; color: #0a0a0a; font-family: 'Lato', Tahoma, Verdana, 'Segoe', sans-serif; font-size: 16px; font-weight: normal; hyphens: auto; line-height: 1.3; margin: 0; padding: 0; text-align: left; vertical-align: top; word-wrap: break-word">
                <table class="row" style="border-collapse: collapse; border-spacing: 0; display: table; padding: 0; position: relative; text-align: left; vertical-align: top; width: 100%"><tbody><tr style="padding: 0; text-align: left; vertical-align: top">
                    <th class="nobotpad small-8 large-8 columns first" valign="middle" style="Margin: 0 auto; color: #0a0a0a; font-family: 'Lato', Tahoma, Verdana, 'Segoe', sans-serif; font-size: 16px; font-weight: normal; line-height: 1.3; margin: 0 auto; padding: 0; padding-bottom: 0 !important; padding-left: 16px; padding-right: 8px; text-align: left; width: 397.33333px"><table style="border-collapse: collapse; border-spacing: 0; padding: 0; text-align: left; vertical-align: top; width: 100%"><tr style="padding: 0; text-align: left; vertical-align: top"><th style="Margin: 0; color: #0a0a0a; font-family: 'Lato', Tahoma, Verdana, 'Segoe', sans-serif; font-size: 16px; font-weight: normal; line-height: 1.3; margin: 0; padding: 0; text-align: left">
                      <p class="text-white table-main-head" style="Margin: 0; Margin-bottom: 10px; color: #fff; font-family: 'Lato', Tahoma, Verdana, 'Segoe', sans-serif; font-size: 12px; font-weight: normal; line-height: 1.3; margin: 5px 0px; margin-bottom: 10px; padding: 0; text-align: left">Payment Date</p>
                    </th></tr></table></th>
                    <th class="nobotpad small-4 large-4 columns last" valign="middle" style="Margin: 0 auto; color: #0a0a0a; font-family: 'Lato', Tahoma, Verdana, 'Segoe', sans-serif; font-size: 16px; font-weight: normal; line-height: 1.3; margin: 0 auto; padding: 0; padding-bottom: 0 !important; padding-left: 8px; padding-right: 16px; text-align: left; width: 190.66667px"><table style="border-collapse: collapse; border-spacing: 0; padding: 0; text-align: left; vertical-align: top; width: 100%"><tr style="padding: 0; text-align: left; vertical-align: top"><th style="Margin: 0; color: #0a0a0a; font-family: 'Lato', Tahoma, Verdana, 'Segoe', sans-serif; font-size: 16px; font-weight: normal; line-height: 1.3; margin: 0; padding: 0; text-align: left">
                      <p class="text-white" style="Margin: 0; Margin-bottom: 10px; color: #fff; font-family: 'Lato', Tahoma, Verdana, 'Segoe', sans-serif; font-size: 16px; font-weight: normal; line-height: 1.3; margin: 5px 0px; margin-bottom: 10px; padding: 0; text-align: left">AMOUNT</p>
                    </th></tr></table></th>
                </tr></tbody></table>
              </td></tr></table>
            
              <!-- Start of Payment Row -->
              <% for (var i = 0; i < payments.length; i++) { %>
              <%- include(path + "payment_row.ejs", {payment : payments[i]}) %>
              <% } %>
              <!-- End of Payment Row -->
            
            
            
            
              <table class="row" style="border-collapse: collapse; border-spacing: 0; display: table; padding: 0; position: relative; text-align: left; vertical-align: top; width: 100%"><tbody><tr style="padding: 0; text-align: left; vertical-align: top">
                  <hr class="nomarg" style="border-top: dotted 1px; margin: 0"> 
              </tr></tbody></table>
            
              <table class="spacer" style="border-collapse: collapse; border-spacing: 0; padding: 0; text-align: left; vertical-align: top; width: 100%"><tbody><tr style="padding: 0; text-align: left; vertical-align: top"><td height="15px" style="-moz-hyphens: auto; -webkit-hyphens: auto; Margin: 0; border-collapse: collapse !important; color: #0a0a0a; font-family: 'Lato', Tahoma, Verdana, 'Segoe', sans-serif; font-size: 15px; font-weight: normal; hyphens: auto; line-height: 15px; margin: 0; mso-line-height-rule: exactly; padding: 0; text-align: left; vertical-align: top; word-wrap: break-word">&#xA0;</td></tr></tbody></table> 
            
              <table class="row" style="border-collapse: collapse; border-spacing: 0; display: table; padding: 0; position: relative; text-align: left; vertical-align: top; width: 100%"><tbody><tr style="padding: 0; text-align: left; vertical-align: top">
                <th class="small-8 large-8 columns first" style="Margin: 0 auto; color: #0a0a0a; font-family: 'Lato', Tahoma, Verdana, 'Segoe', sans-serif; font-size: 16px; font-weight: normal; line-height: 1.3; margin: 0 auto; padding: 0; padding-bottom: 5px; padding-left: 16px; padding-right: 8px; text-align: left; width: 397.33333px"><table style="border-collapse: collapse; border-spacing: 0; padding: 0; text-align: left; vertical-align: top; width: 100%"><tr style="padding: 0; text-align: left; vertical-align: top"><th style="Margin: 0; color: #0a0a0a; font-family: 'Lato', Tahoma, Verdana, 'Segoe', sans-serif; font-size: 16px; font-weight: normal; line-height: 1.3; margin: 0; padding: 0; text-align: left">
                  <p class="bold size-14" style="Margin: 0; Margin-bottom: 10px; color: #0a0a0a; font-family: 'Lato', Tahoma, Verdana, 'Segoe', sans-serif; font-size: 14px; font-weight: bold; line-height: 1.3; margin: 5px 0px; margin-bottom: 10px; padding: 0; text-align: left">TOTAL</p>
                </th></tr></table></th>
                <th class="small-4 large-4 columns last" style="Margin: 0 auto; color: #0a0a0a; font-family: 'Lato', Tahoma, Verdana, 'Segoe', sans-serif; font-size: 16px; font-weight: normal; line-height: 1.3; margin: 0 auto; padding: 0; padding-bottom: 5px; padding-left: 8px; padding-right: 16px; text-align: left; width: 190.66667px"><table style="border-collapse: collapse; border-spacing: 0; padding: 0; text-align: left; vertical-align: top; width: 100%"><tr style="padding: 0; text-align: left; vertical-align: top"><th style="Margin: 0; color: #0a0a0a; font-family: 'Lato', Tahoma, Verdana, 'Segoe', sans-serif; font-size: 16px; font-weight: normal; line-height: 1.3; margin: 0; padding: 0; text-align: left">
                  <p class="bold size-14" style="Margin: 0; Margin-bottom: 10px; color: #0a0a0a; font-family: 'Lato', Tahoma, Verdana, 'Segoe', sans-serif; font-size: 14px; font-weight: bold; line-height: 1.3; margin: 5px 0px; margin-bottom: 10px; padding: 0; text-align: left">$<%=total%></p>
                </th></tr></table></th>
              </tr></tbody></table>
            
              <table class="spacer" style="border-collapse: collapse; border-spacing: 0; padding: 0; text-align: left; vertical-align: top; width: 100%"><tbody><tr style="padding: 0; text-align: left; vertical-align: top"><td height="15px" style="-moz-hyphens: auto; -webkit-hyphens: auto; Margin: 0; border-collapse: collapse !important; color: #0a0a0a; font-family: 'Lato', Tahoma, Verdana, 'Segoe', sans-serif; font-size: 15px; font-weight: normal; hyphens: auto; line-height: 15px; margin: 0; mso-line-height-rule: exactly; padding: 0; text-align: left; vertical-align: top; word-wrap: break-word">&#xA0;</td></tr></tbody></table> 
            
            
            </td></tr></tbody></table>
            
            
          </center>
        </td>
      </tr>
    </table>
    <!-- prevent Gmail on iOS font size manipulation -->
   <div style="display:none; white-space:nowrap; font:15px courier; line-height:0"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </div>
  </body>
</html>

