<!DOCTYPE html>
<meta charset="utf-8">
<meta content="IE=edge" http-equiv="X-UA-Compatible">
<meta content="width=device-width, user-scalable=no , initial-scale=1" name="viewport">

<head>

  <meta charset="UTF-8">

  <title>UPenn Lions - Reset Password </title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/style.css" media="screen" type="text/css"/>
  <link rel="stylesheet" type="text/css" href="/css/login.css" type="text/css">
  <link rel="icon" href="/images/lions-logo.png">
</head>

<body>

  <div class="wrap">
    <div class="avatar">
      <img src="/images/lions-logo.png">
    </div>
    <form action="/auth/resetpassword" method="POST">
      <input name='uID' type='hidden' value='<%=uID%>'>
      <input name='token' type='hidden' value='<%=token%>'>
      <input class="form-control input-jawn" type="password" name="password" placeholder="Password" required style="border-radius: 7px 7px 0px 0px">
      <div class="bar">
        <i></i>
      </div>
      <input type="password" class="form-control input-jawn" name="confirm" placeholder="Cofirm Password" required>
      <div style="height: 15px"></div>
      <% if (typeof failMessage != 'undefined') { %>
        <h2 style="width:100%; text-align:center; padding-bottom:20px; font-family: Impact, Charcoal, sans-serif; color:#990000"><%=failMessage%></h2>
      <% } %>
      <button>Reset</button>
    </form>
  </div>


</body>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</html>