<div class="container-fluid brother-entry">
  <div class="row unpaid-charge-heading">
    <div class="col-xs-3">
      <h6 class="tpanel-text">{{formatDate(data.date)}}</h6>
    </div>
    <div class="col-xs-3">
    <h6 class="tpanel-text">{{data.firstName}} {{data.lastName}}</h6>
    </div>
    <div class="col-xs-3">
      <h6 class="tpanel-text ">{{data.description}}</h6>
    </div>
    <div class="col-xs-2" style="padding-left: 0px">
    </div>
    <div class="col-xs-1">
      <h6 class="tpanel-text ">${{data.amount}}</h6>
    </div>
  </div>
</div>