<div class="modal-background" ng-if="getModal('password')">
  <div class="modal-content" ng-controller="passwordController">
    <div class="panel panel-default modal-panel">
      <div class="panel-heading">
        <div class="container-fluid">
          <div class="row text-color">
            <div class="col-xs-11 nopad">
              <h2 class="panel-title modal-title">Change Password</h2>
            </div>
            <div class="col-xs-1 nopad">
              <span class="glyphicon glyphicon-remove-circle close-icon" aria-hidden="true" ng-click="close()"></span>
            </div>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <div class="container-fluid modal-container">
          <div class="row iso-row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4 text-color form-group nomargin" ng-class="{'has-error' : !password.valid}">
              <label>Password:</label>
              <input style="display:none">
              <input type="password" ng-model="password.value" class="form-control" placeholder="Password..." ng-change="password.validate()" autocomplete="off">
              <span id="helpBlock" class="help-block">Password must be at least 5 characters long.</span>
            </div>
            <div class="col-sm-4"></div>
          </div>
          <div class="row iso-row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4 text-color form-group nomargin" ng-class="{'has-error' : !confirm.valid}">
              <label>Confirm Password:</label>
              <input style="display:none">
              <input type="password" ng-model="confirm.value" class="form-control" placeholder="Confirm..." ng-change="confirm.validate()" autocomplete="off">
            </div>
            <div class="col-sm-4"></div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="submit(<?php echo $_SESSION['session_uiD']; ?>)">Submit</button>
      </div>
    </div>
  </div>
</div>