<div class="nav-container" ng-cloak>
  <div class="box shadow" style="margin-top: 40px">
    <div class="box-content container-fluid">

     <div class="row homepage-logo-container">
       <img class="homepage-logo" src="/images/lions-logo.png">
     </div>

      <div class="row major-section-break"></div>
      <div class="row">
        <div class="container-fluid">
          <!-- Available Actions -->
          <div class="row"><span class="options-header">Available Actions:</span></div>
          <!-- Options -->
          <div class="row hoverable smooth-corners option-row" ng-click="openModal('expense')">
            <div class="col-xs-1 nopad indent"><span class="glyphicon glyphicon-usd" aria-hidden="true"></span></div>
            <div class="col-xs-10 nopad">Submit Expense</div>
          </div>
        </div>
      </div>

      <div class="row section-break"></div>
    </div>
  </div>
</div>
