tbody {
	height: 100px;
	overflow: auto;
}

.bordered {
	border: 1px solid #999999;
} 

.dash-detail {
	font-weight: bold;
}

.dashboard-container {
	padding: 10px 0px 0px 0px;
}

.background-container {
  position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
  z-index: -1;
  background-color: #B7C1C9;
}
.background-container img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
}

.full button span {
	background-color: limegreen;
	border-radius: 32px;
	color: black;
}
.partially button span {
	background-color: orange;
	border-radius: 32px;
	color: black;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.payment-panel-body {
	padding: 7px 15px 7px 15px;
}

.next-payment-date {
	margin: 10px 0px 4px 0px;
}

.next-payment-amount {
	margin: 4px 0px 15px 0px;
}

.payment-amount {
  font-size: 20pt;
  font-weight: bold;
}

.upl-button {
	border-radius: 100px;
    box-shadow: none;
    cursor: pointer;
    border: 1px solid #555555;
    color: #555555;
    font-size: 12px;
    line-height: 22px;
    padding: 4px 12px;
    background: transparent;
    min-width: 89px;
    font-weight: bold;
}

.upl-button:focus {
	outline-style: none;
}

.upl-button:hover {
	background-color: #e7e7e7;
	cursor: pointer;
}

.blink-me {
  animation: blinker 1.5s infinite;
}

@keyframes blinker {  
  50% { opacity: 0; }
}

.flexbox-container {
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-ms-flex-align: center;
	-webkit-align-items: center;
	-webkit-box-align: center;

	align-items: center;
}

.welcome-msg-text {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	text-align: center;
	max-width: 300px;
	font-size: 18pt;
}

.welcome-box-alert {
	margin: 0px 5px 0px 0px;
}

.current-balance {
	margin: 5px 0px 15px 0px;
}

.welcome-box-body {
	height: 150px;
	position: relative;
}

.homepage-logo {
    width: 30%;
}

.homepage-logo-container {
	text-align: center;
}

.centered-glyph {
	text-align: center;
	line-height: 23px;
	font-size: 1.2em;
	cursor: pointer;
	margin-right: -22px;
}

.event-heading {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #4f647c;
	margin-bottom: 10px;
	margin-top: 10px;
}

.event-underline {
	border-bottom: 1px solid #c0c0c0;
}

.event-time {
	width: 100%;
	text-align: center;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #666666;
}

.event-name {
	font-weight: bold;
	color: #4B5F77;
}

.event-location {
	color: #666666;
	font-size: 14px;
}

.event-icon {
	height: 100%;
	background-color: #e0e0e0;
	display: flex;
    align-items: center; 
}

.vertical-center {
	display: flex;
    align-items: center; 
}

.event-row {
	height: 50px;
	border: 2px solid #E0E0E0;
}

.cover {
	position: fixed;
	height: 100%;
	width: 100%;
	top:0;
	left: 0;
	background: #00d2ff; /* fallback for old browsers */
}

.centeredCell {
	text-align: center;
}
.background-color {
	background: #00d2ff; /* fallback for old browsers */
	background: -webkit-linear-gradient(#928DAB , #00d2ff); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(#928DAB , #00d2ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.my-checkbox {
	display: inline-block;
	height: 20px;
	width: 20px;
	margin: auto;
	border: 2px solid black;
}
.hoverable {
	cursor: pointer;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
	padding: 8px 4px 8px 4px;
	font-size: 12px;
}

/*.container-fluid {
	padding-left: 0px;
	padding-right: 0px;
}*/

.navbar-default .navbar-toggle {
	border: 0px;
}

.tpanel-main-container {
	margin: 0px 60px;
}

.schedule-body {
	font-size: 13px;
	color: #444;
	margin: 0px;
}

.brother-subentry {
	border-radius: 5px;
	margin: 0px 5px;
	background-color: #e7e7e7;
}

.btn-highlight {
	background-color: #c0dcf4;
}

.btn-toggle {
	outline: none!important;
}

.btn-toggle:hover, .btn-toggle:active, .btn-toggle:focus {
	background-color: #c0dcf4;
	border-color: rgb(204, 204, 204);
}

.brother-heading {
	padding: 10px 0px;
	margin: 0px 5px;
	background-color: #ADD8E6;
	border-radius: 5px;
}

.brother-entry {
	margin: 10px 5px;
}

.schedule-heading {
	font-size: 13px;
	color: #444;
	font-weight: bold;
	margin: 10px 0px 0px 0px;
}

.tpanel-text {
	font-size: 14px;
	color: #444;
	margin: 5px 0px;
}

.tpanel-title {
	font-size: 14px;
	color: #444;
	margin: 0px;
	font-weight: bold;
}

.brother-container {
	margin: 0px 5px;
}

.main-container {
	display: inline-block;
	width: 100%;
	height: 100px;
	margin-right: 5px;
	vertical-align: top;
}

.nav-container {
	display: none;
	height: 100px;
	margin-left: 5px;
	vertical-align: top;
}



.box {
	background-color: white;
	border: 1px solid;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
    border-radius: 5px;
}

.shadow {
	box-shadow: 0px 0px 5px #888888;
}
.box-content {
	height: 100%
	width: 100%;
	margin: 10px;
}

.hover {
	cursor: pointer;
}

.indent {
	margin-left: 15px;
}

.anotha-one {
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 0.95em;
	cursor: pointer;
	color: #4B5F77;
	width: 100%;
	text-align: center;
}

.dues-instruction {
	font-weight: bold;
}

.payment-title {
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 0.95em;
}

.amount {
	font-family: "Arial Black", Gadget, sans-serif;
    font-size: 2.2em;
    text-align: center;
    width: 100%;
    color: #cc0000;
}

.dues-header {
	text-align: center;
    width: 100%;
    padding-top: 20px;
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 1.4em;
}

.options-header {
	font-size: 14px;
	color: #666;
	font-weight: bold;
}

.body {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.smooth-corners {
	border-radius: 2px;
}

.underline {
	border-bottom: 1px solid #d7d7d7;
}

.center-text {
	text-align: center;
}

.section-break {
	height: 5px;
}

.hoverable:hover {
	background-color: #e7e7e7;
}

.nopad {
	padding: 0px;
}

.row-highlighted {
	border: 2px solid #c7c7c7;
}

.major-section-break {
	height: 15px;
}

.option-row {
	margin-top: 5px;
	margin-bottom: 5px;
}

.message-centered {
	width: 140;
	display:inline-block; 
	margin:auto;
}

.setup-direction {
	font-size: 14pt;
    font-weight: 600;
    margin-bottom: 2px;
}

.modal-background {
	position: fixed; /* Stay in place */
  z-index: 99; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
  overflow: hidden;
}

@-webkit-keyframes animatetop {
    from {top: -300px; opacity: 0} 
    to {top: 0; opacity: 1}
}

@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

.modal-panel {
	margin-bottom:0px; 
	border-bottom: 0px;
	border-radius: 4px 4px 0px 0px;
}

.pane {
	max-height: 400px;
	overflow: scroll;
}

.table {
	margin: 0px;
}

.modal-open {
	overflow: hidden;
}

.modal-loader {
	margin-right: 7px;
	height: 100%
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.error-text {
	width: 100%;
	text-align: center;
	color: #c00;
	font-family: "Arial Black", Gadget, sans-serif;
    font-size: .95em;
    margin-top: 5px;
    overflow: hidden;
}

.heading {
	text-align: center;
	width: 100%;
	padding-top: 50px;
	padding-bottom: 20px;
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 1.4em;
	font-color: #999999;
}

.subtext {
	text-align: center;
	width: 100%;
	padding-top: 20px;
	padding-bottom: 50px;
	font-size: 1.2em;
	font-color: #999999;
}

.modal-container {
	margin: 10px;
}

.autoComplete {
	display: block!important;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    position:absolute; /*it can be fixed too*/
    left:0; right:0;
    top:0; bottom:0;
    margin:auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.welcome-msg-logo-alert {
	color: #D91E18;
}

.welcome-msg-logo-ok {
	color: #26A65B
}

.welcome-box-body span {
	left: 0;
  position: absolute;
  z-index: 2;
  opacity: .25;
  text-align: center;
  width: 100%;
  top: 10px;
}




.dropdown-menu-option {
  padding: 10px;
  color: black;
  background-color: inherit;
}

.iso-row {
	margin: 10px 0px;
}

ul,div:focus {
	outline:none;
}

.option-highlight {
  background-color: #ADD8E6;
}

.modal-footer {
	padding-top: 8px;
	padding-bottom: 8px;
}

.cb-wrapper {
	margin: 10px;
}
 .nomargin {
 	margin: 0px;
 }

.dues-status {
	font-weight: bold;
}

.compliant {
	background-color: #efffef; 
	color: #00b200;
}

.non-compliant {
	background-color: #ffefef;
	color: #b20000;
}

.close-icon {
	padding-right: 20px;
	float: right;
	font-size: 2em;
	cursor: pointer;
}

.text-color {
	color: #555555;
}

.panel-title {
	font-size: 17px;
}

.modal-title {
	font-size: 20px;
}

.max-modal {
	max-height: 400px;
}


.modal-content {
	background-color: #fefefe;
    margin: 10% auto; /* 15% from the top and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

.no-payment-padding {
	margin: 25px 0px;
    font-size: 14pt;
}

.modal-open {
	overflow: hidden;
}


.text-center {
	text-align: center;
}

.upl-brand {
	color:#337ab7!important;
}

.upl-option {
	color:#337ab7!important;
}

.upl-nav{
	background-color:#337ab7!important;
}


.payment-info-table-container {
		box-shadow: 0px 0px 10px #e0e0e0;
		padding:0!important;
}

/*Mobile Screen Only*/
@media screen and (max-width: 650px) {
	.nav-container {

	}

	.max-panel-body {
		max-height: 60vh;
		overflow: auto;
	}

  .no-mobile {
    display: none!important;
  }

  .modal-content {
  	margin: 25% auto;
  	width: 100%;
  }

  .split-container {
  	padding: 0px;
  }

  .payment-info-table-container {
		margin: 10px 10px 10px 10px;
		max-height: 40vh;
	}

	.payment-info-panel-body {
		padding: 15px 0px;
	}

}

@media (min-width: 650px) {
	
	.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
		padding: 8px;
		font-size: 14px;
	}

	.container-fluid {
		padding-left: 15px;
		padding-right: 15px;
	}

	.max-panel-body {
		max-height: 380px;
		overflow: auto;
	}

	.mobile-only {
		display: none!important;
	}

	.payment-info-table-container {
		margin: 20px 50px 10px 50px;
		max-height: 250px;
		overflow: auto;
	}
}

/* Larger than 768px */
@media (min-width: 768px) {
	.main-container {
		width: 525px;
	}

	.event-row {
		margin: 5px;
	}

	.nav-container {
		display: inline-block;
		width: 175px;
	}

	.right-split-modal {
		padding-right: 0px;
	}

	.left-split-modal {
		padding-left: 0px;
	}

	.split-modal-body {
		height: 300px;
	}
}

/* Larger than 992px */
@media (min-width: 992px) {
	.main-container {
		width: 699px;
	}

	.nav-container {
		width: 225px;
	}
}

/* Larger than 1200px */
@media (min-width: 1200px) {
		.main-container {
		width: 882px;
	}

	.nav-container {
		width: 240px;
	}
}